<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Snakes_ladders_game!{% endblock %}</title>

        {# Create the favicon icon #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <!-- Bootstrap CSS, theme and JS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>



    </head>
    <body>
        <header>
            {% include 'AppBundle:Default:_header.html.twig' %}
        </header>



        <div id="mainContent">
            {% block content %} {% endblock %}
        </div>

        <footer>
            {% include 'AppBundle:Default:_footer.html.twig' %}
        </footer>
    </body>
</html>